h1{
    text-align:center
}
h1{
    color:orange
}
body{
    background-image: url(../../Pictures/windows_xp_16.jpg);
}
summary{
    font-size: 60px;
}
details{
    text-align:center;
}
details{
    color:orange
}
ul{
    font-size:30px;
}
ul{
    background-color: blue;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a{
    background-color: orange;
}
p{
    text-align: center;
}
p{background-color: blue;}
p{color: yellow;}
